body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  text-align: center;
  margin-top: 150px;
}

button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
